<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <hgroup>
        <h1>Request Error</h1>
        <h2>An error has been encountered while interfacing with GitHub's API.</h2>
    </hgroup>
    <div class="error-message">
        <p>Error Message: <span id="model-error-message">@ViewBag.ErrorMessage</span></p>
    </div>
</body>
</html>
